Search: <input ng-model = "query">



<table class = "coffeeTbl">
<tr><td> Reviews:</td><td>Brand:</td><td>Coffee Title:</td><td>Country</td></tr>
	<tr ng-repeat = "coffee in coffees | filter:query | orderBy: 'name'">
		<td><a href = "#/view2/{{coffee.id}}">Review</a></td>	
		<td>{{coffee.brand}}</td>}
		<td>{{coffee.name}}</td>
		<td>{{coffee.country}}</td>
	</tr>
</table>

<p>This is the partial for view 1.</p>

