<p>This is the partial for view 2.</p>


<table class ="reviewTbl">
	<tr><td>Reviewer:</td><td>Comment:</td><td>Rating</td></tr>
		<tr ng-repeat = "coffee in coffees | filter:{id:{{coffeeId}}}">
		<td>coffee.name</td>
		<td>coffe.name</td>
		<td>coffe.name</td>
	<tr>
</table>




